<template>
    <h2 class="title">${ title }</h2>

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col component-example">
            <div class="example-wrapper">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                  <i class="material-icons">add</i>
                </button>
                <span class="caption">Colored FAB</span>
            </div>

            <div class="example-wrapper">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                  <i class="material-icons">add</i>
                </button>
                <span class="caption">With ripple</span>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--12-col component-example">
            <div class="example-wrapper">
                <!-- FAB button -->
                <button class="mdl-button mdl-js-button mdl-button--fab">
                  <i class="material-icons">add</i>
                </button>
                <span class="caption">Plain FAB</span>
            </div>

            <div class="example-wrapper">
                <!-- FAB button with ripple -->
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                  <i class="material-icons">add</i>
                </button>
                <span class="caption">With ripple</span>
            </div>

            <div class="example-wrapper">
                <!-- Disabled FAB button -->
                <button class="mdl-button mdl-js-button mdl-button--fab" disabled>
                  <i class="material-icons">add</i>
                </button>
                <span class="caption">Disabled</span>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--12-col component-example">
            <div class="example-wrapper">
                <!-- Raised button -->
                <button class="mdl-button mdl-js-button mdl-button--raised">
                  Button
                </button>

                <span class="caption">Raised Button</span>
            </div>

            <div class="example-wrapper">
                <!-- Raised button with ripple -->
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                  Button
                </button>

                <span class="caption">With ripple</span>
            </div>

            <div class="example-wrapper">
                <!-- Raised disabled button -->
                <button class="mdl-button mdl-js-button mdl-button--raised" disabled>
                  Button
                </button>
                <span class="caption">Disabled</span>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--12-col component-example">
            <div class="example-wrapper">
                <!-- Colored raised button -->
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                  Button
                </button>

                <span class="caption">Colored Button</span>
            </div>

            <div class="example-wrapper">
                <!-- Accent-colored raised button -->
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                  Button
                </button>

                <span class="caption">Accent colored</span>
            </div>

            <div class="example-wrapper">
                <!-- Accent-colored raised button with ripple -->
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                  Button
                </button>
                <span class="caption">With ripple</span>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--12-col component-example">
            <div class="example-wrapper">
                <!-- Flat button -->
                <button class="mdl-button mdl-js-button">
                  Button
                </button>

                <span class="caption">Flat button</span>
            </div>

            <div class="example-wrapper">
                <!-- Flat button with ripple -->
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
                  Button
                </button>

                <span class="caption">With ripple</span>
            </div>

            <div class="example-wrapper">
                <!-- Disabled flat button -->
                <button class="mdl-button mdl-js-button" disabled>
                  Button
                </button>
                <span class="caption">Disabled</span>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--12-col component-example">
            <div class="example-wrapper">
                <button class="mdl-button mdl-js-button mdl-button--primary">
                  Button
                </button>
                <span class="caption">Primary colored flat</span>
            </div>

            <div class="example-wrapper">
                <button class="mdl-button mdl-js-button mdl-button--accent">
                  Button
                </button>
                <span class="caption">Accent colored flat</span>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--12-col component-example">
            <div class="example-wrapper">
                <button class="mdl-button mdl-js-button mdl-button--icon">
                  <i class="material-icons">mood</i>
                </button>
                <span class="caption">Icon button</span>
            </div>

            <div class="example-wrapper">
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                  <i class="material-icons">mood</i>
                </button>
                <span class="caption">Colored</span>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--12-col component-example">
            <div class="example-wrapper">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                  <i class="material-icons">add</i>
                </button>
                <span class="caption">Mini FAB</span>
            </div>

            <div class="example-wrapper">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                  <i class="material-icons">add</i>
                </button>
                <span class="caption">Colored</span>
            </div>
        </div>
    </div>
</template>
