<template>
    <h2 class="title">${ title }</h2>

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col component-example">
            <div class="example-wrapper">
                <div id="p1" class="mdl-progress mdl-js-progress"></div>

                <span class="caption mdl-typography--text-center">Progress Bar - Default</span>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--12-col component-example">
            <div class="example-wrapper">
                <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>

                <span class="caption mdl-typography--text-center">Progress Bar - Indeterminate</span>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--12-col component-example">
            <div class="example-wrapper">
                <div id="p3" class="mdl-progress mdl-js-progress"></div>

                <span class="caption mdl-typography--text-center">Progress Bar - Buffering</span>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--12-col component-example">
            <div class="example-wrapper">
                <div class="mdl-spinner mdl-js-spinner is-active"></div>

                <span class="caption mdl-typography--text-center">Spinner - Default</span>
            </div>

            <div class="example-wrapper">
                <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>

                <span class="caption mdl-typography--text-center">Spinner - Single color</span>
            </div>
        </div>
    </div>
</template>
