<template>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col component-example">
            <div class="example-wrapper">
                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                  <div class="mdl-tabs__tab-bar">
                      <a href="#starks-panel" class="mdl-tabs__tab is-active">Awesome</a>
                      <a href="#lannisters-panel" class="mdl-tabs__tab">Cool</a>
                      <a href="#targaryens-panel" class="mdl-tabs__tab">Yeah</a>
                  </div>

                  <div class="mdl-tabs__panel is-active" id="starks-panel">
                    <ul>
                      <li>Aurelia</li>
                      <li>Angular 2</li>
                      <li>Ember</li>
                      <li>React</li>
                      <li>Vue 2</li>
                    </ul>
                  </div>
                  <div class="mdl-tabs__panel" id="lannisters-panel">
                    <ul>
                      <li>AnguleJS</li>
                      <li>Laravel</li>
                      <li>Django</li>
                    </ul>
                  </div>
                  <div class="mdl-tabs__panel" id="targaryens-panel">
                    <ul>
                      <li>CakePHP</li>
                      <li>...</li>
                    </ul>
                  </div>
                </div>

                <span class="caption mdl-typography--text-center">Content tabs</span>
            </div>
        </div>
    </div>
</template>
