.is-current {
    background-color: #e0e0e0;
    border-left: 3px solid #757575;
}

.component-example {
    display: flex;
    justify-content: center;

    .example-wrapper {
        display: flex;
        flex-direction: column;
        padding: 20px;

        .caption {
            margin-top: 25px;
            color: #757575;
        }
    }
}

.menu-wrapper {
    min-height: 100px;
    min-width: 180px;
    position: relative;

    &.demo-menu__lower-left .bar,
    &.demo-menu__lower-right .bar {
        box-sizing: border-box;
        background: #3F51B5;
        color: white;
        width: 100%;
        padding: 16px;
    }

    &.demo-menu__lower-right .bar {
        position: relative;
        height: 64px;
    }

    &.demo-menu__lower-right .bar .wrapper {
        box-sizing: border-box;
        position: absolute;
        right: 16px;
    }
}

h2.title {
    font-size: 16px;
    font-weight: 500;
    margin: 30px;
    color: #757575;
    text-transform: uppercase;
}
